body {
  /* display: flex;
    align-items: center; */
  align-content: center;
  background-color: #7684a6;
  color: #d8e6e4;
}
div{
    width: 20%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}